# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
.idea/
*/logs/*
*/cache/*
app/cache/*
app/logs/*
web/uploads/*
web/bundles/*
web/css/*
web/js/*
node_modules/*
app/Resources/lib/*
bin/*
vendor/*
build/*

# Configuration files
app/config/parameters.ini
app/config/parameters.yml