@import url(http://fonts.googleapis.com/css?family=Open+Sans);

$font-family-base: "Open Sans", sans-serif !default;

$my-gray-lighter: #f2f2f2;
$my-gray: #ccc;
$my-gray-darker: #222;
$my-main: #34495e;
$my-main-darker: #263545;
$my-secondary: #f7d372;
$my-social-facebook: #4f7dd4;

$border-radius-base: 0px;
$border-radius-large: 0px;
$border-radius-small: 0px;

$navbar-default-color: $my-gray-lighter;
$navbar-default-bg: $my-main;
$navbar-default-border: transparent;

// Navbar links
$navbar-default-link-color: $my-gray-lighter;
$navbar-default-link-hover-color: $my-secondary;
$navbar-default-link-active-color: $my-secondary;
$navbar-default-link-active-bg: transparent;

// Navbar brand label
$navbar-default-brand-hover-color: $my-secondary;

@import "lib/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap";
@import "lib/font-awesome/scss/font-awesome";

body {
  background-color: $my-gray-lighter;
  margin-top: 50px;
}

a {
  @include transition(color 0.1s ease-in, background 0.1s ease-in);
}

.star {
  background-color: $my-main;
  color: $gray-lighter;
  padding-top: 35px;
  padding-bottom: 70px;
}

.planet {
  color: $gray-darker;
  padding-top: 35px;
  padding-bottom: 35px;
}

.planets {
  padding-top: 35px;
}

.wow {
  padding-top: 35px;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid $my-gray;
  margin: 1em 0;
  padding: 0;
}

// Contacts
.contact {
  margin-top: 35px;
  background-color: $my-main;
  color: $my-gray-lighter;

  input[type="text"],
  input[type="email"],
  textarea {
    background-color: $my-main-darker;
    border: 0;
    @include transition(0.1s);
    &:focus {
      color: $my-gray-lighter;
      @include box-shadow(none);
    }
  }

  #facebook .fa-circle {
    color: $my-social-facebook;
  }
}

// Footer
footer {
  background-color: $my-main;
  color: $my-gray-lighter;
}

// Admin
#admin {
  @media (min-width: 768px) {
    /* Wrappers */
    #wrapper {
      padding-left: 225px;
    }
    #page-wrapper {
      padding: 15px 25px;
    }

    /* Side Nav */
    .side-nav {
      margin-left: -225px;
      left: 225px;
      width: 225px;
      position: fixed;
      top: 50px;
      height: 100%;
      border-radius: 0;
      border: none;
      background-color: $my-main;
      overflow-y: auto;
      li {
        a {
          width: 225px;
        }
      }
    }

    .navbar-right {
      padding-right: 15px;
    }

    .navbar-default {
      .navbar-nav {
        .open {
          .dropdown-menu {
            background-color: $my-main;
            color: $my-gray-lighter;
            @include box-shadow(none);
            border: transparent 0px;
            .dropdown-header {
              border-color: $my-gray;
            }
            .divider {
              background-color: transparent;
            }
            li {
              a {
                color: $my-gray-lighter;
                &:hover, &:focus, &:active {
                  color: $my-secondary;
                  background-color: transparent;
                }
              }
            }
            .active {
              a {
                &:hover, &:focus {
                  color: $my-secondary;
                  background-color: transparent;
                }
              }
            }
            .disabled {
              a {
                &:hover, &:focus {
                  color: $my-gray;
                  background-color: transparent;
                }
              }
            }
          }
        }
      }
    }
  }
}